<p>
  I'm Freud, an illustrator who does art as a hobby! I also occassionally stream
  art on the side. Feel free to reach out to me on Twitter if you're interested
  in commissions.
</p>
<p style="text-align: center">
  <i>
    Commissions are *not* on a first-come, first-serve basis. I prioritize based
    on deadline urgency (e.g. debut, birthday art), so kindly let me know if you
    need any assets by a certain date!
  </i>
  <br /><br />
  Please read my T.O.S. before ordering.
</p>
