<body>
  <p class="disclaimer">
    <i
      >ALL PRICES ARE LISTED IN USD. <br />COMMERCIAL RIGHTS ARE INCLUDED.
      <br />
      Free revisions within reason.</i
    >
  </p>

  <h1>Twitch Assets</h1>

  <!-- Emotes -->
  <h2>Non-animated Emotes</h2>
  <h3>$12 EACH OR 3 FOR $30</h3>
  <!-- <p>- Free revisions within reason</p> -->
  <div id="emotes" class="flex-container"></div>

  <!-- Animated Emotes -->
  <h2>Animated Emotes</h2>
  <h3>$25 EACH OR 2 FOR $40</h3>
  <!-- <p>- Free revisions within reason</p> -->
  <div id="animated-emotes" class="flex-container"></div>

  <!-- Animated Stickers -->
  <h2>Animated Stickers</h2>
  <h3>$25 EACH OR 2 FOR $40</h3>
  <p>
    - Not optimized to be viewed at a small scale<br />
    - Best used fpr stream alerts
  </p>
  <div id="stickers" class="flex-container"></div>

  <!-- Panels -->
  <h2>Panels</h2>
  <h3>$15 EACH</h3>
  <p>- Includes individual pngs of the chibis only</p>
  <div id="panels" class="flex-container"></div>

  <h1>Illustrations</h1>
  <p>+ $20 for colored background</p>
  <!-- Headshots -->
  <h2>Headshot</h2>
  <h3>$30</h3>
  <div id="" class=""></div>

  <!-- Halfbody -->
  <h2>Halfbody</h2>
  <h3>$60</h3>
  <div id="halfbody" class="carousel"></div>

  <!-- Fullbody -->
  <h2>Fullbody</h2>
  <h3>$80</h3>
  <p>
    - Usable for PNGtuber models <br />
    - Includes 4 expressions with no additional charge <br />
    - Solid color background only unless stated otherwise by client <br />
  </p>
  <div id="fullbody" class="flex-container"></div>
  <!-- change to class carousel if adding more fullbody illustrations -->

  <!-- Ref sheets -->
  <h2>Reference Sheets</h2>
  <h3>$100</h3>
  <p>
    - Original character designs <br />
    - Process: 1 sketch will be provided according to client provided details
    and references, then further sketches will be provided based on feedback.
    Unlimited revisions within reason.
  </p>
  <div id="refsheets" class="carousel"></div>
</body>
