<body>
  <p>
    I do not take commissions on a first-come, first-serve basis. If I accept
    your commission, I will let you know directly via Twitter/Discord.
  </p>

  <h1>Payment</h1>
  <ul>
    <li>I currently accept <b>PayPal only</b>, via invoices in <b>USD</b>.</li>
    <li>
      <b>At least 50%</b> must be paid after the first initial desgins are sent.
      Full payment upfront is welcome as well. Files will not be sent to you
      until full payment has been cleared.
    </li>
    <li>
      Failure to pay the remainder of a balance in a reasonable amount of time
      once the work is complete may result in a forfeiture of the commission. I
      will contact you several times before this happens. If I choose to, I may
      resell the artwork in this situation or in the event of a cancellation
      where work was already started.
    </li>
  </ul>

  <h1>Workflow</h1>
  「 ⏰ Planning 」
  <ul>
    <li>Kindly provide any reference images and/or descriptions.</li>
    <li>
      Example images of a specific pose/expression/composition that you want are
      much appreciated!
    </li>
  </ul>

  「 ✏️ Sketches & Revisions 」
  <ul>
    <li>I’ll send you sketch(es) and we can discuss any adjustments.</li>
  </ul>

  「 📄 Invoice 50% 」
  <ul>
    <li>
      I’ll send an invoice over PayPal with a 50% minimum payment due on
      receipt.
    </li>
  </ul>

  「 💨 Art Progress 」
  <ul>
    <li>
      I’ll let you know an estimated timeline in which I can get back to you
      with the finished illustration (can range from a few days to one month).
    </li>
  </ul>

  「 🎨 Artwork + Invoice 100% 」
  <ul>
    <li>
      I’ll finish the artwork and send a watermarked version of the final piece.
      Upon receiving full payment, I’ll send the non-watermarked version over a
      Google Drive folder. I ask that you pay the remaining balance within 7
      days.
    </li>
  </ul>

  <h1>Revisions</h1>
  <ul>
    <li>
      You're free to make revisions (and please don't feel bad about it, it's a
      normal part of the process!), but please do keep the following in mind:
    </li>
    <li>
      If you change your mind about an emote and decide you want something
      significantly or completely different, like a pose or character change
      resulting in me having to start over, these kinds of revisions are subject
      to an additional fee. Similar charges apply to other kinds of graphics as
      well, such as illustrations.
    </li>
    <li>
      If you have any concerns or don’t fully love your commission, let me know!
      I’d rather work with you to make it right than leave you with something
      you’re less than happy with.
    </li>
  </ul>

  <h1>Cancellations/Refunds</h1>
  <ul>
    <li>
      If you want to cancel your order and I've already started on it, 50% of
      the total commission price will be refunded. NOTE: This means if you paid
      half upfront, there will be no refund. If you paid in full upfront, 50%
      will be refunded. If the commission is already finished, refunds will not
      be accepted.
    </li>
    <li>
      I have the right to refuse any commission. Commissions I cancel at my
      discretion after payment has been sent will be given a full refund.
    </li>
  </ul>

  <h1>Emote Attribution</h1>
  <p>
    Word of mouth is how most emote artists stay in business, so I greatly
    appreciate emote attribution! If you’d like to tag me as your artist when
    uploading your emotes, my Twitch link is twitch.tv/freudnim.
  </p>
  <br />
  <p>
    I reserve the right to use commissioned work in my portfolio including my
    website and social media.
  </p>
</body>
